@font-face {
    font-family: 'oswaldmedium';
    src: url('oswald-medium-webfont.woff2') format('woff2'), url('oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #000000;
    margin: 0;
    font-family: 'Oswald';
    src: url('oswald-medium-webfont.woff2') format('woff2'), url('oswald-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.parallax-container {
    position: fixed;
    overflow: visible;
    width: 100%;
    height: 500px;
}

.parallax-layer {
    width: 100%;
    height: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 1920px 750px;
}

.layer-0 {
    top: 0;
    z-index: 5;
    background: #000000 url('resources/logo.png') no-repeat top 40px center;
    background-size: 500px 200px;
}

.layer-1 {
    top: 0px;
    z-index: 5;
    background-image: url('resources/upside/1.png');
}

.layer-2 {
    top: 0px;
    z-index: 10;
    background-image: url('resources/upside/2.png');
}

.layer-3 {
    top: 0px;
    z-index: 15;
    background-image: url('resources/upside/3.png');
}


/*.layer-4 {
    top: 20px;
    z-index: 20;
    background-image: url('resources/up/upbu.png');
  }
  .layer-5 {
    top: 10px;
    z-index: 25;
    background-image: url('resources/up/upg.png');
  }*/

.content {
    position: relative;
    top: 600px;
    margin-bottom: 200px;
    background: url('resources/back.png');
    width: 100%;
    min-height: 400px;
}

.nav {
    position: relative;
    top: 220px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 40px;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 0px 30px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.textBottom {
    text-align: center;
    position: absolute;
    bottom: 0;
}

.content h1 {
    color: #fff;
    padding-top: 10px;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.content p {
    color: #fff;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

.content footer {
    color: #fff;
    padding-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 500px;
    max-height: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
